@charset "UTF-8";

/* Source Sans 3 extra light, light, regular, medium, semibold, bold, extrabold and black */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

/* Montserrat alternatives thin, extralight, light, regular, medium, semibold, bold, extrabold and black */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Source Sans 3', sans-serif; */
/* font-family: 'Montserrat Alternates', sans-serif; */

body {
    background-image: url('../img/login-bg.jpg');
    font-family: 'Source Sans 3', sans-serif;
}

header,
footer {
    font-family: 'Montserrat Alternates', sans-serif;
}

header {
    background-color: indigo;
}

#form-wrap {
    box-shadow: 1px 2px 15px rgba(255, 255, 255, .7);
}

#form-wrap,
.form-control,
.form-control:focus,
#email-icon-wrap,
#password-visibility-button {
    background-color: rgba(0, 0, 0, .6);
}

.subtitle,
.form-control::placeholder,
#email-input,
#email-icon-wrap,
#password-input,
#password-visibility-icon {
    color: rgba(255, 255, 255, 1);
}