@charset "UTF-8";

@font-face {
    font-family: 'Source Sans 3';
    src: url('../assets/font/source-sans-3/SourceSans3-Regular.ttf') format('truetype');
}

body {
    background-image: url('../assets/img/login-bg.jpg');
    font-family: 'Source Sans 3', sans-serif;
}

h2 {
    color: white;
}

#form-wrap {
    background-color: rgba(0, 0, 0, .6);
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgba(255, 255, 255, 0.7);
    width: 400px;
}

.form-control {
    background-color: rgba(0, 0, 0, .6);
}

.form-control::placeholder {
    color: white;
}

#toggle-password-display-button {
    background-color: rgba(0, 0, 0, .6);
}

#toggle-password-display-button > i {
    color: white;
}

#email-i-wrap {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, .6);
}

#email-input-id, #password-input-id {
    color: white;
}