@charset "UTF-8";

:root {
    --sidebar-bg-color: purple;
    --selected-item-bg-color: blue;
    --transition5: .5s ease-in;
    --transition3: .3s ease-in;
}

#sidebar {
    margin-top: 48px;
    width: 60px;
    height: 100%;
    border-right: 3px solid var(--selected-item-bg-color);
    background-color: var(--sidebar-bg-color);
}

#sidebar.expand {
    width: 180px;
}

#sidebar,
#sidebar.expand {
    transition: var(--transition5);
}

#menu-toggle-button:active {
    border-color: var(--sidebar-bg-color);
}

#menu-toggle-button i {
    font-size: 30px;
}

.nav-item i {
    pointer-events: none;
}

.nav-item i,
.nav-item a {
    font-size: 24px;
}

.nav-item:hover,
.nav-item.active {
    background-color: var(--selected-item-bg-color);
}

.nav-item:hover {
    cursor: pointer;
    transition: var(--transition3);
}