@charset "UTF-8";

/* Source Sans 3 extralight, light, regular, medium, semibold, bold, extrabold and black */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

/* Montserrat alternatives thin, extralight, light, regular, medium, semibold, bold, extrabold and black */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Source Sans 3', sans-serif; */
/* font-family: 'Montserrat Alternates', sans-serif; */

:root {
    --transition5: .5s ease-in;
    --transition3: .3s ease-in;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

header,
footer {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: indigo;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .8);
}

#title {
    font-size: 18px;
}

#content {
    border: 1px solid red;
    margin-left: calc(60px + 1%);
    margin-top: calc(48px + 1%);
    padding: 1%;
}

#content,
#content.rectract {
    transition: var(--transition5);
}

#content.retract {
    margin-left: calc(180px + 1%);
}

.text-justify {
    text-align: justify;
}

.dropdown-menu {
    background-color: purple;
}

.dropdown-item:hover {
    color: white;
    transition: var(--transition3);
    background-color: blue;
}