@charset "UTF-8";

/* Regular and bold */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
}

header,
footer {
    background-color: indigo;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#title {
    font-size: 28px;
    margin-left: 2%;
}

footer {
    font-size: 16px;
}