:root {
    --sidebar-background-color: purple;
    --selected-item-color: blue;
    --transition: .5s ease-in;
}

#sidebar {
    background-color: var(--sidebar-background-color);
    color: white;
    margin-top: 48px;
    width: 60px;
    height: calc(100vh - 112px);
    border-right: 3px solid var(--selected-item-color);
    transition: var(--transition);
}

#sidebar button:active {
    border-color: var(--sidebar-background-color);
}

#sidebar button i {
    font-size: 30px;
}

#sidebar i,
#sidebar a {
    font-size: 24px;
}

#sidebar li:hover,
#sidebar li.actived {
    background-color:var(--selected-item-color);
}

#sidebar li:hover {
    cursor: pointer;
}

#sidebar.expand {
    width: 180px;
    transition: var(--transition);
}