@charset "UTF-8";

/* Regular and bold */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

body {
    background-image: url('../img/login-bg.jpg');
    font-family: 'Source Sans 3', sans-serif;
}

header {
    background-color: indigo;
    color: white;
}

#title {
    margin-left: auto;
}

#sidebar {
    border: 1px solid red;
}

#content {
    border: 1px solid red;
}

footer {
    color: white;
}